#mainpage{
  background-image: url(https://cdn.wallpapersafari.com/4/9/OK6Dzo.jpg);
}
#mainhr{
  text-align: center;
  background-image: url(/img/background.jpg);
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;

}

#mainhr h1{
  font-size: xx-large;
  float: left;
  margin-left: 50px;
  color: #fad487;
  font-family: 'Ballet', cursive;
  margin-top: 45px;
  font-weight: bold;
}

#mainhr nav ul li{
  float: right;
  display: inline-block;
  padding: 30px;
}

#subtitle{
  text-align: center;
  font-size: xx-large;
  font-style: oblique;
  color: #f5c970;
  margin: 20px;
}

#mainhr nav ul li a{
  color: #f5c970;
  font-style: oblique;
}

#affiliates ol li{
  list-style: lower-greek;
  margin: 20px;
  color: #094c55;
  font-weight: bolder;
  font-style: oblique;
  text-shadow:2px 2px 5px #f5c970;
  font-size: large;
}

#stsec{
   float: right; 
  width: 50%;
  text-align: center;
  background-color: #0E5C66;
  margin: 10px;
}
.intro{
  color: #f5c970;
  font-size: larger;
  font-weight: lighter;
  line-height: 2;
  font-style: oblique;
  border-radius: 75px;
}

.intro a:hover{
  text-shadow:2px 2px 5px #f5c970;
  
}

.intro a{
  color: #094c55;
}

#sale-page{
  background-color: #0E5C66;
}
#sinfo{
  text-align: center;
  font-size: xx-large;
  margin: 20px;
  font-family: 'Akaya Kanadaka', cursive;
  color: #ba4548;
  text-shadow: 2px 2px 5px red;
}
#newSales{
  margin: 20px;
  background-color: #ba4548;
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Lemonada', cursive; 
  font-size: small;
  color: #0E5C66;
}
input{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

fieldset:last-child{
  text-align: center;
  color:#66180E;
}

table,tr,td,th {
  border: 2px solid #ba4548;
  padding: 10px;
  margin: 20px;
  padding-top: 12px; 
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  overflow:hidden;
  border-radius: 10px;
  box-shadow: #666 0px 2px 3px;
  behavior: url(Include/PIE.htc);
  overflow: hidden;
  background-color: #fadca2;
  color: #5a92fa;
  font-weight: bold;
  text-align: center;   
}

#simg{
  text-align: center;
  box-shadow: 0 0 50px #fadca2;
  margin: 20px;
  border-radius: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#mpage{
  text-align: center;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: xx-large;
}
a{
  text-decoration: none;
  color: #66180E; 
}
a:hover{
  text-decoration: underline;
}